@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.InfoPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9 ">
            <h2 class="text-center m-3">@Model.ContentTitle</h2>
            <tag class="fs-4">@Model.ContentBody</tag>

        </div>
    </div>
</div>