@{
	Layout = "Master.cshtml";
    var loginModel = new LoginModel();
    loginModel.RedirectUrl = null;
}
@using Umbr2.Site.Controllers;
@using Umbr2.Site.Services;
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.LoginPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;


@using Umbraco.Cms.Web.Common.Models
@using Umbraco.Cms.Web.Common.Security
@using Umbraco.Cms.Web.Website.Controllers
@using Umbraco.Extensions
@inject IMemberExternalLoginProviders memberExternalLoginProviders

@if (CustomerAccountService.Customer == null || CustomerAccountService.Customer.EntityId == 0)
{
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h2 class="text-center text-dark mt-5">Sign in</h2>

                <div class="card my-5">

                    <form class="card-body cardbody-color p-lg-5">
                        @using (Html.BeginUmbracoForm<WSDLServiceController>(
                        "HandleLogin", new { RedirectUrl = loginModel.RedirectUrl }))
                        {
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="mb-4">
                                <label>User Name</label>
                                <input asp-for="@loginModel.Username" class="form-control" />
                                <span asp-validation-for="@loginModel.Username" class="form-text text-danger"></span>
                            </div>
                            <div class="mb-4">
                                <label>Password</label>
                                <input asp-for="@loginModel.Password" class="form-control" />
                                <span asp-validation-for="@loginModel.Password" class="form-text text-danger"></span>
                            </div>

                            <div class="d-grid col-3 mx-auto">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        }
                    </form>
                </div>

            </div>
        </div>
    </div>

}
else
{
    @await Html.PartialAsync("CustomerDetails")
}

