@using Newtonsoft.Json;
@using Umbr2.Site.Models;
@using Umbr2.Site.Services;
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.MyAccount>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}
@if (CustomerAccountService.Customer == null)
{
	<div class="text-center mt-5">
		<h1 class="text-danger">Failed to get login response from the web service</h1>
		<a class="btn btn-warning mt-4" href="/">Try again</a>
	</div>
}
else if (CustomerAccountService.Customer.EntityId != 0)
{
	@await Html.PartialAsync("CustomerDetails")
}
else
{
	<div class="text-center mt-5">
		<h1 class="text-danger">Incorrect username or password!</h1>
		<a class="btn btn-warning mt-4" href="/">Try again</a>
	</div>
}

