@using Umbr2.Site.Services;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<div class="text-center mt-5">
    <h1 class="text-success">Welcome! @CustomerMemberService.Customer.LastName @CustomerMemberService.Customer.FirstName</h1>
</div>